.input {
    background-color: var(--input-color);
    width: 300px;
    height: 45px;
    color: #fff;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    border-radius: 10px;
    padding-left: 16px;
}

.inputDate {
    width: 216px;
}

.inputTitle {
    width: 346px;
}

.input:focus {
    color: var(--input-color);
    background-color: #fff !important;
    border: 1px solid black !important;
}

.input:focus-visible {
    outline-offset: none;
}

.inputError {
    border: 1px solid var(--error-color);
    background-color: #fff;
    width: 300px;
    height: 45px;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    border-radius: 10px;
    padding-left: 16px;
}

@media (max-width: 768px) {
    .inputDate {
        width: 300px;
    }
    .inputTitle {
        width: 300px;
    }
}

@media (max-width: 962px) {
    .inputDate {
        width: 300px;
    }
    .inputTitle {
        width: 300px;
    }
}
