.movieList {
    text-align: center;
    margin: 0 auto;
    margin-top: 200px;
}

.submitBtn {
    background-color: var(--primary-color);
    color: #fff;
    width: 300px;
    height: 54px;
    border-radius: 10px;
    font-size: 16px !important;
    line-height: 24px;
    font-weight: 700px !important;
    font-family: "Montserrat";
    text-align: center;
}

@media (max-width: 962px) {
    .mymovie {
        font-size: 24px !important;
    }
}
